// Colors
$off-white: #F5F5F5; 
$indigo: #3949AB;
$off-indigo: #C5CAE9;
$off-indigo-2: #E8EAF6;
$blue: #448AFF;
$grey: #212121;
//Font sizes

$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Sizes

$desktop-breakpoint: 45rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;